<div class="d-flex justify-content-evenly mx-auto flex-wrap">
    {% if card_list %}
        {% for card in card_list %}
        <li class="card p-0 m-5 col-6" style="width: 15rem">
            <img class="card-img-top img-fluid overflow-hidden" src="{{ card.image.url }}" alt="{{ card.title }}" style="height: 18rem">
            <div class="card-body">
                <h5 class="card-title text-nowrap text-truncate">{{ card.title }}</h5>
                <p class="card-text text-truncate">
                    {{ card.description }}
                </p>
            </div>
        </li>
        {% endfor %}
    {% else %}
        <p>{{ no_item_warning }}</p>
    {% endif %}
</div>
