{% extends "base_generic.html" %}

{% block content %}
    <div class="row justify-content-center">
        <ul class="list-group p-4 align-self-center" style="max-width: 768px">
            <h5 class="my-3" style="color: cornflowerblue">Books borrowed</h5>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Title
                    </div>
                    <div class="col text-end">
                        Due
                    </div>
                </div>
            </li>
            {% for book_instance in book_instances %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            {{ book_instance.binstance.book.title }}
                        </div>
                        <div class="col text-end">
                            {{ book_instance.due }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}